ol,ul,li,fieldset{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

body {
	font-family: 'merriweather', georgia, "Times New Roman", times, serif;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	line-height: 1.4
}

html {
	line-height: 1
}

ol,ul {
	list-style: none
}

img {
	border: none
}

h1 {
	text-align: center;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
	display: block
}

input[type="search"],input[type="email"],input[type="password"],input[type="text"],input[type="tel"],input[type="number"],input[type="url"],select, textarea {
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.5em;
	padding: 0.9em 1em;
	border-radius: 2px 2px;
	color: #444;
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	max-width: 500px;
	border: 1px #ccc solid
}

select {
	height: 3em;
	line-height: 2.5em
}

fieldset {
	margin-bottom: 1em
}

fieldset legend {
	font-family: 'merriweather', "helvetica neue", helvetica, sans-serif;
	font-weight: 700;
	margin-bottom: 0.35em
}

form {
	width: 600px;
	margin: 60px auto;
}

form .input {
	margin-bottom: 1em
}

p {
	margin-bottom: 1em
}

strong,b {
	font-weight: bold
}

em,i {
	font-style: italic
}

img {
	max-width: 100%;
	display: block
}

.modal-wrapper {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

.modal-backdrop {

	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;

	z-index: 1;
	opacity: 0.4;
	background-color: black;
}

.modal {
	padding: 20px;
	background-color: white;

	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;

	width: 100%;
	max-width: 500px;
	border: 1px solid #ccc;

	transform: translate(-50%, -50%);
}

.modal .modal-content label{
	font-weight: bold;
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.modal .modal-content textarea{
	height: 300px;
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	resize: none;
	background: #ececec;
	overflow: auto;
}

#btn-close-tnc {
	padding: 10px 14px;
	background-color: green;
	color: white;
	border: none;

	font-size: 16px;
	font-weight: bold;

	width: 80px;
	margin: 20px auto 0;
	display: block;
}

.hidden{
	display: none;
}

.container {
	display: flex;
	flex-direction: row;
}

.container nav, .container aside {
	flex-grow: 1;
}

.agreement-wrap {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}